/node_modules
#FRONTEND (Next.js) IGNORE

/frontend/node_modules
/frontend/package-lock
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build

/frontend/.DS_Store
/frontend/*.pem

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

/frontend/.env*
/frontend/.vercel
/frontend/next-env.d.ts
/frontend/*.tsbuildinfo

# BACKEND IGNORE

/user/node_modules
/user/package-lock
/user/.env

*.log
*.pem
.DS_Store
.env*
